name: Publish packages

on:
  push:
    tags:
      - "v*"
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

jobs:
  publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          registry-url: "https://npm.pkg.github.com/"

      - name: Configure npm for GitHub Packages
        run: |
          echo "@nui:registry=https://npm.pkg.github.com/" >> ~/.npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> ~/.npmrc

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build --workspaces

      - name: Publish package
        # publish the workspace package by scope/name
        run: |
          npm publish --workspace=@nui/core --registry https://npm.pkg.github.com/ --access public
